blog/db.sqlite3
blog/fpages/__pycache__
blog/blog/__pycache__
venv
blog/news/migrations
blog/protect/migrations
blog/sign/migrations
blog/news/templatetags/__pycache__
blog/news/__pycache__
blog/protect/__pycache__
blog/sign/__pycache__
Django_Shell.txt
blog/cache_files
.env
